<header id="menu">
  <a  href="/" class="logo"><img src="/img/logo/coogleLogo.png"width="150px" height="60px"></a>
  
  <ul class ="category">
    <li style= "width:193px;">
      <a href="/studies" class="text studyRoom">study room</a>
      <ul class="submenu "  style= "right:15px;">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>s
    </li>

    <li>
      <a href="/competitions" class="text login">competition</a>
      <ul class="submenu " style= "right:15px;">
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
        <li><a href="#"></a></li>
      </ul>
    </li>
    
    <li style= "width:230px;">
      <a href="/posts"  class="text support">community</a>
      <ul class="submenu" style= "right:25px;">
        <li><a href="#">프로젝트 파트너 모집</a></li>
        <li><a href="#">질의응답</a></li>
        <li><a href="#">자유게시판</a></li>	
      </ul>
    </li>
    
    <% if(isAuthenticated){ %>
      <li style= "width:60px;"><a href="/logout"><img src="/img/logo/login.png" width="40px" height="45px"></a></li>
      <li style= "width:100px;"><a href="/users/<%= currentUser.username %>"><img src="/img/logo/user.png" width="40px" height="40px"></a></li>      
    <% } else { %>
      <li style= "width:60px;"><a href="/login"><img src="/img/logo/login.png" width="40px" height="45px"></a></li>
      <li style= "width:100px;"><a href="/login" ><img src="/img/logo/user.png" width="40px" height="40px"></a></li>
    <% } %>

  </ul>
  
</header>