<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet"  type="text/css" href="/css/competition/competition.css">
  </head>

  <body>
    <%- include('../partials/nav') %>



  </body>
</html>