<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>공모전 글 생성</h1>
    <!-- 1. 절대경로
    2. 맨앞에 /를 써주면 / 이전은 localhost:3000 -->
    <form action="/competitions/create/submit" method="post">
        <!-- localhost3000/competitions/create/submit -->
        title : <input type="text" name="title"><br>
        deadLine : <input type="date" name="deadLine"><br>
        내용 : <input type="text" name="content"><br>
        공모전 url : <input type="text" name="url"><br>
        <button type="submit">완료</button>
    </form>
</body>
</html>