<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet"  type="text/css" href="/css/login/logout.css">
  </head>

  <body>
    <%- include('../partials/nav') %>
  
  <div class="square">
    <img src="/img/login/logout/square.png" style= "width:680PX; height:480PX;">

  </div>

  <div class="container" style="height:100%; width:100%; margin-left:13%;">
      
    <div class="logout">
      <img src="/img/login/logout/Log Out.png" style= "width:370px; height:60px;">
    </div>

    <div class="unlockImg">
      <img src="/img/login/logout/unlockImg.png" style= "width:100px; height:80px;">
    </div>

    <div class="logout_text">
      <img src="/img/login/logout/logoutText.png" style= "width:450px; height:55px;">
    </div>

    <form class="yes_button" action="/logout" method="post">
        <input type="image" src="/img/login/logout/yes_button.png" style= "width:130px; height:27px;"  value="Submit">
    </form>

    <div class="no_button">
      <a href="/"><img src="/img/login/logout/no_button.png" style= "width:130px; height:27px;"></a>
    </div>
  </div>

</body>
</html>
