<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Coogle</h1>
        <P>지금 바로 실시간 코딩 스터디에 참여해보세요!</p>
      </div>

    </div>
  </body>
</html>
