<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h1>Coogle</h1>
        <P>WELCOME TO COOGLE</p>
        <p><a href="/studies">move to Study Room</a></p>
      </div>

    </div>
  </body>
</html>
