<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Coogle 홈페이지</h1><br>
    <a href="/coogle/signUp">회원가입하기^^ /singUp으로 넘어감</a><br>

    <!-- 로그인을 위한 폼 -->
    <form action="/coogle/login" method="POST">
        로그인<br>
        id <input type="text" name="id"><br>
        pw <input type="password" name="password"><br>
        <button type="submit">로그인</button>
    </form>
</body>
</html>