<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/coogle">Coogle</a></h1><br>
    <h2>MyPage</h2>
    <h1>nickname : <%= mypage.nickname %></h1><br>
    <h1>id : <%= mypage.id %></h1><br>
    <h1>email : <%= mypage.email %></h1><br>
    <h1>현직자인가용? : <%= mypage.status %></h1><br>
    <a href="/coogle/logout">로그아웃</a>
</body>
</html>