<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/coogle/signUp/create" method="POST">
        email <input type="text" name="email"><br>
        nickname <input type="text" name="nickname"><br>
        id <input type="text" name="id"><br>
        password <input type="password" name="password"><br>
        현직자이신가요? Y<input type="radio" name="status" value="yes"> N<input type="radio" name="status" value="no"><br>
        <button type="submit">가입완료</button>
    </form>
    
</body>
</html>