<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet"  type="text/css" href="/css/users/completeJoin.css">
  </head>

  <body>
    <%- include('../partials/nav') %>
    
    <div class="square">
      <img src="/img/users/completeJoin/square.png" style= "width:680PX; height:480PX;">
    </div>

    <div class="text1"> 
      <div class="nickname_text">
        <img src="/img/users/completeJoin/text1.png" style= "width:105px; height:27px;">
      </div>
     
      <div class="decoration_image">
        <img src="/img/users/completeJoin/decoration_image.png" style= "width:20px; height:20px;">
      </div>

      <div class="text2"> 
          <img src="/img/users/completeJoin/text2.png" style= "width:105px; height:27px;">
      </div>
      
      <div class="button">
        <a href="/users/new"><img src="/img/users/completeJoin/line.png" style= "width:312px; height:1px;"></a>
      </div>
    </div>

</body>
</html>
