<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet"  type="text/css" href="/css/users/delete.css">
  </head>

  <body>
    <%- include('../partials/nav') %>
  
  <div class="square">
    <img src="/img/users/delete/square.png" style= "width:680PX; height:480PX;">
  </div>

  <div class="container" style="height:100%; width:100%; margin-left:13%;">
      
    <div class="delete">회원탈퇴</div>

    <div class="unlockImg">
      <img src="/img/users/delete/deleteUser.png" style= "width:120px; height:120px;">
    </div>

    <div class="delete_text">
        <span>탈퇴를 계속 진행 하시겠습니까?</span>
    </div>

    <%#회원 탈퇴 수정 필요%>
    <form class="yes_button" action="/users/delete" method="post">
        <input type="image" src="/img/users/delete/yes_button.png" style= "width:155px; height:37px;"  value="Submit">
    </form>

    <div class="no_button">
      <a href="/users/<%= currentUser.username %>"><img src="/img/login/logout/no_button.png" style= "width:155px; height:37px;"></a>
    </div>
  </div>

</body>
</html>
