<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet"  type="text/css" href="/css/mainPage/slide.css">
    <link rel="stylesheet"  type="text/css" href="/css/mainPage/mainPage.css">
  </head>

  <body>
    <%- include('../partials/nav') %>
    
    Welcome to StudyRoom 
    <div id="welcome">
        <form action="#">
            <input type="text" required="true" placeholder="room name"> 
            <button type="submit">Enter Room</button>
        </form>
    </div>
    

    <!-- 프론트에 웹소켓 설치  -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="client/clientServer.js"></script> -->
    <script src="/public/js/clientServer.js"></script>
       


</body>
</html>