<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Welcome to StudyRoom 
    <div id="welcome">
        <form action="#">
            <input type="text" required="true" placeholder="room name"> 
            <button type="submit">Enter Room</button>
        </form>
    </div>
    

    <!-- 프론트에 웹소켓 설치  -->
    <script src="/socket.io/socket.io.js"></script>
    <!-- <script src="client/clientServer.js"></script> -->
    <script src="/public/js/clientServer.js"></script>
       


</body>
</html>